<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#"><img src="~/szal/img/icon.png" alt="logo" width="60"></a>
        <div @*class="container-fluid"*@>
            <ul class="navbar-nav navbar-collapse collapse" id="navbarSupportedContent">

                @if (Session["username"] == null)
                {
                    @*<li class="nav-item">
                @Html.ActionLink("Regisztráció", "RegisterUserPage", "Default", new { area = "" }, new { @class = "navbar-brand" })

            </li>*@
                    <li class="nav-item">
                        @Html.ActionLink("Bejelentkezés", "Secnd", "Default", new { area = "" }, new { @class = "navbar-brand" })

                    </li>
                    @*<li class="nav-item m-2">
                Állomány kezelés

            </li>
            <li class="nav-item m-2">
                Szolgáltatás
            </li>*@
                    @*<li class="nav-item">
                @Html.ActionLink("Súgó", "Index", "Default", new { area = "" }, new { @class = "navbar-brand navbar-right" })

            </li>*@
                    @*<li class="nav-item m-2">
                Kijelentkezés
            </li>
            <li class="nav-item" m2>
                ReaderCard
            </li>*@

                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Könyvkeresés", "Index", "Default", new { area = "" }, new { @class = "navbar-brand navbar-right" })
                    </li>
                    if (int.Parse(Session["level"].ToString()) > 1)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Regisztráció", "RegisterUserPage", "Default", new { area = "" }, new { @class = "navbar-brand" })

                        </li>
                    }
                    else
                    {
                        @*<li class="nav-item">
                    Olvasókártya
                </li>*@
                    }
                    @*<li class="nav-item">
                @Html.ActionLink("Bejelentkezés", "Secnd", "Default", new { area = "" }, new { @class = "navbar-brand" })

            </li>*@
                    if (int.Parse(Session["level"].ToString()) >= 1)
                    {

                        <li class="nav-item">
                            @Html.ActionLink("Állomány kezelés", "MetaPage", "Default", new { area = "" }, new { @class = "navbar-brand" })

                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Kölcsönzés", "ReaderCard", "Default", new { area = "" }, new { @class = "navbar-brand navbar-right" })

                        </li>
                        @*<li class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Dropdown Example
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Állomány kezelése
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @Html.ActionLink("Állomány növekedés", "MetaPage", "Default", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Állomány törlése", "MetaPage", "Default", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </li>*@
                    }
                    else
                    {
                        @*<li class="nav-item m-2">
                    Álomány kezelés
                </li>
                <li class="nav-item m-2">
                    Olvasókártya
                </li>*@
                    }


                    <li class="nav-item">
                        @Html.ActionLink("Súgó", "Helper", "Default", new { area = "" }, new { @class = "navbar-brand navbar-right" })

                    </li>

                    if (int.Parse(Session["level"].ToString()) >= 1)
                    {

                        <li class="nav-item">
                            @Html.ActionLink("Log megnézése", "LogView", "Default", new { area = "" }, new { @class = "navbar-brand" })

                        </li>

                    }

                    <li class="nav-item">
                        @Html.ActionLink("Kijelentkezés", "start", "Default", new { area = "" }, new { @class = "navbar-brand" })
                    </li>



                }


            </ul>
            @*</li>
                </ul>*@
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-white">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @RenderSection("scripts", required: false)
</body>
</html>