
@{
    konyv curr;
    bool iserror = false;
    using (book_vs19Entities1 bullshit = new book_vs19Entities1())
    {
        try
        {
            int sesbook = 0;
            if(Session["cur_book"] != null)
            {
                sesbook = int.Parse(Session["cur_book"].ToString());
            }

            curr = bullshit.konyv.Where(q => q.Id == sesbook).FirstOrDefault();
        }
        catch (Exception)
        {
            iserror = true;
            curr = bullshit.konyv.First();
        }
        if (Session["cur_book"] == null)
        {
            iserror = true;
            curr = bullshit.konyv.First();
        }

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>book_detail</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1 class="float-end text-white">Jelenleg: Könyv részleti </h1>
    </header>
    @if (iserror)
    {
        <h1 class="text-danger bg-warning"> Error! No book is selected </h1>
    }
    <div class="container-fluid text-white">
        <div class="col-sm-6 bg-success">
            <img src="/Default/Load_Image_File_Id/@curr.imageID" alt="Alternate Text" width="100%" />
        </div>
        <div class="col-sm-6">
            <h2>Cim: @curr.name </h2> <br />
            isbn: <br /> @curr.ISBN
            <br />info: <br />

            <div>
                @curr.demo <br /> @curr.Descrpition
            </div>
        </div>>
        @Html.ActionLink("Vissza a főoldalra!", "Index");
    </div>
</body>
</html>
