@*@{
    Layout = null;
}*@
@{
    ActionResult kep;
    Session["cur_book"] = null;
    konyv[] kv;
    Reader_Card[] cr;
    book_vs19Entities1 bullshit = new book_vs19Entities1();
    kv = bullshit.konyv.ToArray();
    cr = bullshit.Reader_Card.ToArray();

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Szalamandra könyvtár/css/styles.css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Latest compiled and minified CSS -->


</head>

@*<body>
    <div class="container bg-warning">
        <a href="#">contentált conttent</a> <br>
        <div class="alert-danger">
        </div>
    </div>
     
</body>*@

<body>
    @*<iframe src="/Default/Load_Image" style="max-width: 100%; max-height: 100%;">*@
    @*<img src="/Default/Load_Image" alt="Alternate Text" />*@
    <!-- White h1 heading -->



    <div class="container mt-3 text-white">
        <h3>Könyvek keresése @(Session["level"])</h3>
        <p>A szépirodalmi művektől a ponyvaregényekig.</p>
    </div>


    <p>Tag felvétele</p>
    @*this is for rent_cards*@
    <form action="CreateReader" method="post" class="text-white bg-dark bg-opacity-50">
        <h3 class="opacity-100">Olvasó</h3>
        <label>Személyi igazolvány szám</label> <input type="text" name="szid" value="" autocomplete="off" /> <br />
        <label>Név</label> <input type="text" name="name" value="" autocomplete="off" /> <br />
        <label>tel</label> <input type="tel" name="phone" value="" autocomplete="off" /> <br />
        <label>Email cím</label> <input type="email" name="mail" value="" autocomplete="off" /> <br />
        <div class="col-md-6 mb-4 text-white" ">
            <label>jelszó</label> <input type="password" name="Upp" required />
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline text-white" ">
                <label>jelszó megerősítése</label> <input type="password" name="UppR" required />
            </div>
        </div>
        <input type="submit" name="no" value="regisztrál" />

    </form>

    @* this is for rents*@
    <form action="CreateRent" method="post" class="text-white bg-info bg-opacity-50">
        <h3 class="opacity-100">Kölcsönzés</h3>
        <label>Név</label>  <select name="id">
            @foreach (var item in cr)
            {
                <option value="@item.User_ID">  @bullshit.user.Where(q => q.id == item.User_ID).FirstOrDefault().Username</option>
            }

        </select><br />
        <label>könyv</label>  <select name="book_id">
            @foreach (var item in kv)
            {
                <option value="@item.Id">@item.name @item.Available_Quantity</option>
            }

        </select><br />
        <input type="submit" name="no" value="hozzáadás" />
    </form>

    <div class="container mt-3 text-white">
        <p>Könyvek keresése a megadott szempont alapján:</p>
        <div class="input-group mb-3">
            <button type="button" class="btn btn-primary dropdown-toggle" id="searchType" data-bs-toggle="dropdown">
                Szempont
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Szerző</a></li>
                <li><a class="dropdown-item" href="#">Cím</a></li>
                <li><a class="dropdown-item" href="#">ISBN/ISSN</a></li>
                <li><a class="dropdown-item" href="#">kategoria</a></li>
                @if (int.Parse(Session["level"].ToString()) > 0)
                {
                    <li><a class="dropdown-item" href="#">Olvasók</a></li>
                }
                else
                {
                    <li><a class="dropdown-item" href="#">nálad</a></li>
                }
            </ul>
            <input type="text" class="form-control" placeholder="Könyvek és időszaki kiadványok keresése" id="livesearchtags">
            <button class="btn btn-success" type="submit" id="searchbutton">Keresés</button>
        </div>
    </div>



    @RenderPage("book_render.cshtml")

    <script>
        $(".dropdown-toggle").next(".dropdown-menu").children().on("click", function () {
            $(this).closest(".dropdown-menu").prev(".dropdown-toggle").text($(this).text());
        })
        //const tablerows = document.querySelectorAll(".clickable-table");
        const hide = document.getElementById("showBook");
        document.getElementById("searchbutton").addEventListener('click', () => {
            LiveSearch();
        });


        window.onload = (event) => {
            $.ajax({
                url: "/Default/GetSession",
                type: "GET",
                data: { 'name': "LastSearch" },
                success: function (data1) {
                    document.getElementById('livesearchtags').value = data1;
                    $.ajax({
                        url: "/Default/GetSession",
                        type: "POST",
                        data: { 'name': "LastType" },
                        success: function (data2) {
                            document.getElementById('searchType').innerText = data2
                            LiveSearch();
                        },
                        error: function () { alert("error tags"); }
                    });
                },
                error: function () { alert("error name"); }
            });

        }


        function LiveSearch() {
            //Get the input value
            let value = document.getElementById('livesearchtags').value;
            let type = document.getElementById('searchType').innerText;
            if (type.length > 0) {
                $.ajax({
                    url: "/Default/SetSession",
                    type: "POST",
                    data: { 'name': "LastSearch", 'value': value },
                    success: function () {
                        $.ajax({
                            url: "/Default/SetSession",
                            type: "POST",
                            data: { 'name': "LastType", 'value': type },
                            success: function () { },
                            error: function () { alert("error"); }
                        });
                    },
                    error: function () { alert("error"); }
                });
            }

            if (type == "Cím") {
                $.ajax({
                    type: "POST",
                    // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                    url: "/Default/LiveSearchName",
                    // Attach the value to a parameter called search
                    data: { search: value },
                    datatype: "html",
                    success: function (data) {
                        // Insert the returned search results html into the result element
                        console.log(data);
                        document.getElementById('booktable').innerHTML = data;
                    }
                });
            }
            else if (type == "Szerző") {
                $.ajax({
                    type: "POST",
                    // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                    url: "/Default/LiveSearchWriter",
                    // Attach the value to a parameter called search
                    data: { search: value },
                    datatype: "html",
                    success: function (data) {
                        // Insert the returned search results html into the result element

                        console.log(data);
                        document.getElementById('booktable').innerHTML = data;
                    },
                });
            }
            else if (type == "ISBN/ISSN") {
                $.ajax({
                    type: "POST",
                    // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                    url: "/Default/LiveSearchISBN",
                    // Attach the value to a parameter called search
                    data: { search: value },
                    datatype: "html",
                    success: function (data) {
                        // Insert the returned search results html into the result element
                        console.log(data);
                        console.log(data);
                        document.getElementById('booktable').innerHTML = data;
                    },
                });
            }
            else if (type == "kategoria") {
                $.ajax({
                    type: "POST",
                    // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                    url: "/Default/LiveSearchISBN",
                    // Attach the value to a parameter called search
                    data: { search: value },
                    datatype: "html",
                    success: function (data) {
                        // Insert the returned search results html into the result element
                        console.log(data);
                        console.log(data);
                        document.getElementById('booktable').innerHTML = data;
                    },
                });
            }
            else if (type == "Olvasók") {
                $.ajax({
                    type: "POST",
                    // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                    url: "/Default/LiveSearchISBN",
                    // Attach the value to a parameter called search
                    data: { search: value },
                    datatype: "html",
                    success: function (data) {
                        // Insert the returned search results html into the result element
                        console.log(data);
                        console.log(data);
                        document.getElementById('booktable').innerHTML = data;
                    },
                });
            }
            else if (type == "nálad") {
                $.ajax({
                    type: "POST",
                    // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                    url: "/Default/LiveSearchISBN",
                    // Attach the value to a parameter called search
                    data: '',
                    datatype: "html",
                    success: function (data) {
                        // Insert the returned search results html into the result element
                        console.log(data);
                        console.log(data);
                        document.getElementById('booktable').innerHTML = data;
                    },
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                    url: "/Default/LiveSearchISBN",
                    // Attach the value to a parameter called search
                    data: { search: "" },
                    datatype: "html",
                    success: function (data) {
                        // Insert the returned search results html into the result element
                        document.getElementById('booktable').innerHTML = data;
                    },
                });
            }
            //genevent();
        }
    </script>
</body>

</html>
