@*@{
    Layout = null;
}*@
@{
    ActionResult kep;
    Session["cur_book"] = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Szalamandra könyvtár/css/styles.css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>

@*<body>
    <div class="container bg-warning">
        <a href="#">contentált conttent</a> <br>
        <div class="alert-danger">
        </div>
    </div>
     
</body>*@

<body >
    @*<iframe src="/Default/Load_Image" style="max-width: 100%; max-height: 100%;">*@
    @*<img src="/Default/Load_Image" alt="Alternate Text" />*@

    @if (Session["username"] == null)
    {
        <div>
            veeemo <br />
            @Html.ActionLink("Bejelentkezés", "Secnd");
        </div>
    }
    else
    {
        <div class="bg-success text-white ">
            username: <br />
            @(Session["username"]) <br>
            userid: <br />
            @(Session["userid"]) <br />
            usermail: <br />
            @(Session["usermail"]) <br />
        </div>

        <div class="bg-muted text-dark">
            @RenderPage("book_add.cshtml")
        </div>
    }
     @*@Html.ActionLink("Legelső kijelölt könyv megtekintése", "BookPage")*@
    

    @RenderPage("book_render.cshtml")

    <script>
        //const tablerows = document.querySelectorAll(".clickable-table");
        const hide = document.getElementById("showBook");
    </script>
</body>

</html>
